/* line 1, ../sass/_main.sass */
html, body {
  background-color: #c9e082;
  font-family: garamond, georgia, helvetica, clean, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

/* line 10, ../sass/_main.sass */
h2 {
  font-size: 130%;
}

/* line 13, ../sass/_main.sass */
ul {
  list-style-type: none;
}
/* line 17, ../sass/_main.sass */
ul li a img {
  vertical-align: middle;
}

/* line 20, ../sass/_main.sass */
a {
  color: #ff9100;
  text-decoration: none;
}
/* line 23, ../sass/_main.sass */
a:hover {
  color: #ec701e;
}

/* line 26, ../sass/_main.sass */
.clear {
  clear: both;
}

/* line 29, ../sass/_main.sass */
#container {
  width: 950px;
  margin: 10px auto 10px auto;
  background-color: #f8ffe0;
  padding: 14px 0;
  border: 6px solid #abc163;
}

/* line 36, ../sass/_main.sass */
#header {
  height: 100px;
}
/* line 38, ../sass/_main.sass */
#header ul {
  margin-bottom: 14px;
}
/* line 40, ../sass/_main.sass */
#header ul li {
  margin-right: 6px;
}
/* line 42, ../sass/_main.sass */
#header #user_nav {
  text-align: right;
}
/* line 45, ../sass/_main.sass */
#header #main_menu ul {
  padding: 2px 14px;
  margin-left: 4px;
  margin-right: 4px;
}
/* line 49, ../sass/_main.sass */
#header #main_menu ul li {
  background-color: #434343;
  float: left;
}
/* line 52, ../sass/_main.sass */
#header #main_menu ul li a {
  font-family: Arial, sans-serif;
  color: #f8ffe0;
  padding: 6px 12px;
  display: block;
  font-weight: bold;
}

/* line 60, ../sass/_main.sass */
#content {
  margin: 0 0 0 17px;
  float: left;
  width: 695px;
}
/* line 64, ../sass/_main.sass */
#content h1, #content h2 {
  color: #2e2e2e;
  font-family: "Trebuchet MS";
  font-size: 170%;
  margin-bottom: 8px;
}
/* line 69, ../sass/_main.sass */
#content h2 {
  font-size: 130%;
  border-bottom: 1px solid #2e2e2e;
}
/* line 72, ../sass/_main.sass */
#content .list_items {
  margin-top: 16px;
  padding-left: 8px;
}
/* line 75, ../sass/_main.sass */
#content .list_items ul {
  padding-left: 8px;
}
/* line 77, ../sass/_main.sass */
#content .list_items ul li {
  float: left;
}
/* line 79, ../sass/_main.sass */
#content .list_items ul li p {
  float: left;
}
/* line 81, ../sass/_main.sass */
#content .list_items ul li p.event {
  background: url(../../images/cal_icon.png);
  width: 32px;
  height: 31px;
  text-align: center;
}
/* line 86, ../sass/_main.sass */
#content .list_items ul li p.event span {
  font-size: 11px;
  font-weight: bold;
}
/* line 89, ../sass/_main.sass */
#content .list_items ul li p.event span.small_month_name {
  font-family: "Century Gothic";
  color: white;
}
/* line 93, ../sass/_main.sass */
#content .list_items ul li p.event span.small_month_dates {
  font-family: "Gotham";
  color: black;
}
/* line 96, ../sass/_main.sass */
#content .list_items ul li p.task {
  width: 16px;
  background: url(../../images/task_icon.png) no-repeat;
  color: #556666;
  height: 16px;
  margin-right: 4px;
}
/* line 102, ../sass/_main.sass */
#content .bottom_space {
  margin: 16px 0;
}

/* line 105, ../sass/_main.sass */
#sidebar {
  margin: 0 0 0 17px;
  width: 200px;
  float: left;
}
/* line 109, ../sass/_main.sass */
#sidebar h3 {
  background-color: #e5f4ad;
  border: 1px solid #abc163;
  margin-bottom: 14px;
  font-size: 130%;
  color: #444444;
}
/* line 115, ../sass/_main.sass */
#sidebar h3 a {
  color: #444444;
  display: block;
  padding: 6px;
}
/* line 119, ../sass/_main.sass */
#sidebar ul {
  margin-bottom: 14px;
  padding-left: 10px;
}
/* line 122, ../sass/_main.sass */
#sidebar ul.options {
  text-align: right;
}

/* Color Box */
/* line 127, ../sass/_main.sass */
.color_box {
  width: 16px;
  height: 8px;
  float: left;
  border: 1px solid #444444;
  margin: 3px 6px 0 0;
}

/* Event dialog for calendar */
/* line 135, ../sass/_main.sass */
a.event_dialog {
  color: #444444;
  display: block;
}

/* css for timepicker */
/* line 141, ../sass/_main.sass */
.ui-timepicker-div .ui-widget-header {
  margin-bottom: 8px;
}

/* line 144, ../sass/_main.sass */
.ui-timepicker-div dl {
  text-align: left;
}

/* line 148, ../sass/_main.sass */
.ui-timepicker-div dl dt {
  height: 25px;
}

/* line 152, ../sass/_main.sass */
.ui-timepicker-div dl dd {
  margin: -25px 0 10px 65px;
}

/* line 155, ../sass/_main.sass */
.ui-timepicker-div td {
  font-size: 90%;
}

/* line 157, ../sass/_main.sass */
#ui-datepicker-div {
  display: none;
}
