html, body
  background-color: #C9E082
  font-family: garamond,georgia,helvetica,clean,sans-serif
  font-style: normal
  font-variant: normal
  font-weight: normal
  margin: 0
  padding: 0
  
ul
  list-style-type: none
  li
    a
      img
        vertical-align: middle

a
  color: #FF9100
  text-decoration: none
  &:hover
    color: #EC701E
    
.clear
  clear: both
  
#container
  width: 950px
  margin: 10px auto 10px auto
  background-color: #F8FFE0
  padding: 14px 0
  border: 6px solid #ABC163
  
#header
  height: 100px
  ul
    margin-bottom: 14px
    li
      margin-right: 6px
  #user_nav
    text-align: right
  #main_menu
    ul
      padding: 2px 14px
      margin-left: 4px
      margin-right: 4px
      li
        background-color: #434343
        float: left
        a
          font-family: Arial, sans-serif
          color: #F8FFE0
          padding: 6px 12px
          display: block
          font-weight: bold
    
  
#content
  margin: 0 0 0 17px
  float: left
  width: 695px
  h1
    color: #2E2E2E
    font-family: 'Trebuchet MS'
    font-size: 170%
    margin-bottom: 8px
  
#sidebar
  margin: 0 0 0 17px
  width: 200px
  float: left
  h3
    background-color: #E5F4AD
    border: 1px solid #ABC163
    margin-bottom: 14px
    font-size: 130%
    color: #444
    a
      color: #444
      display: block
      padding: 6px
  ul
    margin-bottom: 14px
    &.options
      li
        display: inline
